.invoice-container {
    border: 3px solid #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #fff;
  }
  
  .invoice-title {
    text-align: center;
    color: #007bff;
    font-size: 20px;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid black;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .company-details,
  .invoice-details {
    width: 48%;
  }
  
  .company-logo {
    height: 50px;
    margin-bottom: 10px;
  }
  
  .address-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .invoice-table,
  .tax-breakup-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  
  .invoice-table th,
  .invoice-table td,
  .tax-breakup-table th,
  .tax-breakup-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  .summary-section {
    margin-bottom: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: start;
  }
  
  .amount-words {
    margin-bottom: 20px;
    flex: 2;
  }

  .summary-item{
    flex: 1;
    display: flex;
    justify-content: end;
  }
  
  .bank-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .upi-qr {
    height: 100px;
    margin-top: 5px;
  }
  
  .notes-section {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    padding: 0 10px;
  }
  
  .signature-section {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .signature-img {
    height: 50px;
  }
  
  .invoice-footer {
    text-align: center;
    font-size: 12px;
    color: gray;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  

  .invoice-header-container {
    /* border-bottom: 2px solid black; */
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .header-top {
    display: flex;
    /* border-bottom: 2px solid black; */
  }
  
  .company-info {
    width: 60%;
    display: flex;
    border-right: 2px solid black;
  }
  
  .company-logo {
    width: 80px;
    height: auto;
    margin: 10px;
  }
  
  .company-text {
    padding: 10px;
    font-size: 14px;
  }
  
  .invoice-details {
    width: 40%;
    padding: 10px;
    font-size: 14px;
  }
  
  .invoice-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* border-bottom: 1px solid black; */
  }
  
  .invoice-row:last-child {
    border-bottom: none;
  }
  
  .header-bottom {
    display: flex;
  }
  
  .customer-details,
  .shipping-details {
    width: 50%;
    padding: 10px;
    border-right: 2px solid black;
    border-top: 2px solid black;
  }
  
  .shipping-details {
    border-right: none;
  }
  
  .customer-details p,
  .shipping-details p {
    margin: 5px 0;
  }
  